@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: 
      radial-gradient(circle at 20% 30%, rgba(4, 236, 147, 0.39) 0%, transparent 25%),
      radial-gradient(circle at 80% 10%, rgba(8, 2, 175, 0.692) 0%, transparent 25%),
      radial-gradient(circle at 50% 50%, rgba(217, 4, 245, 0.445) 0%, transparent 25%),
      radial-gradient(circle at 85% 80%, rgba(4, 217, 245, 0.479) 0%, transparent 25%), 
      #000000;
    min-height: 100vh;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.timeline {
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background: linear-gradient(to bottom, #4a00f7, #03fc94, #c704e0);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.interest-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.interest-description.active {
  max-height: 200px;
}

.project-card {
  perspective: 1000px;
  background: transparent;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.project-card-back {
  transform: rotateY(180deg);
}